/FingerControlUE4/Saved/
/FingerControlUE4/Intermediate/
/FingerControlUE4/Content/Collections/
/FingerControlUE4/Content/Developers/
/FingerControlUE4/Plugins/UDPWrapper/Intermediate/
/FingerControlUE4/Plugins/UDPWrapper/Binaries/